body {
    background-color: black;
    font-family: sans-serif;
    color: white;
}

.title {
    text-align: start;
    font-size:126px;
    background-color: rgb(56, 56, 56);
    display: inline-block;
    padding: 1% 3%;
    margin-left: 25px;
}

.ring {
    font-family: 'Titan One', cursive;
    text-decoration: none;
    color: gold;
}

.of {
    font-family:'Zeyada', cursive;
    text-decoration: none;
    color: white;
}

.challengers {
    font-family: 'Kaushan Script', cursive;
    text-decoration: none;
    color: red;
}

.clicktabs {
    position: absolute;
    top: -20px;
    left: 1200px;
    text-align: end;
    font-size: 25px;
}

.subtitle {
    background-color: rgb(56, 56, 56);
}

.codename {
    color: gold;
}

.ringimg {
    height: 500px;
}

.info {
    display: inline-block;
    text-indent: 50px;
}

.homepage {
    text-decoration: none;
    color: white;
    text-align: end;
    display: inline-block;
    background-color: rgb(56, 56, 56);
    margin-right: 25px;
}

.aboutus {
    text-decoration: none;
    color: white;
    text-align: end;
    display: inline-block;
    background-color: rgb(56, 56, 56);
    margin-right: 25px;
}

.news {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(56, 56, 56);
    margin-right: 25px;
}

.play {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(56, 56, 56);
    margin-right: 25px;
}

.signup {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: rgb(56, 56, 56);
    margin-right: 25px;
}

.facebook {
    text-decoration: none;
    color: white;
}

.instagram {
    text-decoration: none;
    color: white;
}

.email {
    text-decoration: none;
    color: white;
}

.pagebottem {
    background-color: rgb(56, 56, 56);
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}